In [2]:
import sys
sys.path.append('../../')
import os

import pandas as pd
from utils import fill_empty, VColumns
from dotenv import load_dotenv
load_dotenv()

%load_ext autoreload
%autoreload 2

# Load input file

In [16]:
df1 = pd.read_csv("v0-preprocess-step2.csv")
df1.head()

,name,winery,vintage,size,price
0,Arunda Riserva Extra Brut | CH,"""Sektkellerei Arunda, Mölten""",NaN,BOTTLE,"""50,00 €"""
1,"""Arunda Phineas IV | CH, WB, A""","""Sektkellerei Arunda, Mölten""",NaN,BOTTLE,"""85,00 €"""
2,Praeclarus Brut | CH,"""Kellerei St. Pauls, Eppan""",NaN,BOTTLE,"""48,00 €"""
3,Blanc de Blancs Brut Nature 2018 | CH,"""Montris, Kaltern""",2018.0,BOTTLE,"""60,00 €"""
4,"""Brut Riserva 36 2019 | CH, PB, PN""",Kellerei Meran,2019.0,BOTTLE,"""47,00 €"""

In [18]:
df1['name'] = df1['name'].apply(lambda x: x.replace('"', '').split('|')[0])
df1['winery'] = df1['winery'].apply(lambda x: x.replace('"', '').split(',')[0])
df1['price'] = df1['price'].apply(lambda x: str(x).replace('"', '').split(',')[0])
df1.head()

,name,winery,vintage,size,price
0,Arunda Riserva Extra Brut,Sektkellerei Arunda,NaN,BOTTLE,50
1,Arunda Phineas IV,Sektkellerei Arunda,NaN,BOTTLE,85
2,Praeclarus Brut,Kellerei St. Pauls,NaN,BOTTLE,48
3,Blanc de Blancs Brut Nature 2018,Montris,2018.0,BOTTLE,60
4,Brut Riserva 36 2019,Kellerei Meran,2019.0,BOTTLE,47

In [20]:
# print to file
df1.to_csv('v0-preprocess-step3.csv', index=False)