In [1]:
import sys
sys.path.append('../../')
import os

import pandas as pd
from utils import fill_empty, VColumns
from dotenv import load_dotenv
load_dotenv()

%load_ext autoreload
%autoreload 2

# Load input file

In [20]:
import re

# create a dataframe with 3 columns
columns = ['name', 'winery', 'vintage', 'size', 'price']
df = pd.DataFrame(columns=columns)

# read csv and add row 1 as name, row 2 as winery, row 3 as price, then repeat
with open('v0-original.csv') as f:
    wine_list = []
    wine = {}
    for i, line in enumerate(f):
        if i % 3 == 0:
            wine = {}
            wine['name'] = line.strip()

            # regex to extract vintage
            regex = r"\b(\d{4})\b"
            if re.findall(regex, wine['name']):
                wine['vintage'] = re.findall(regex, wine['name'])[0]

        elif i % 3 == 1:
            wine['winery'] = line.strip()

        elif i % 3 == 2:
            wine['price'] = line.strip()

            # add to list
            wine_list.append(wine)

df = pd.DataFrame(wine_list, columns=columns)

df.head()

,name,winery,vintage,size,price
0,Arunda Riserva Extra Brut | CH,"""Sektkellerei Arunda, Mölten""",NaN,NaN,"""50,00 €"""
1,"""Arunda Phineas IV | CH, WB, A""","""Sektkellerei Arunda, Mölten""",NaN,NaN,"""85,00 €"""
2,Praeclarus Brut | CH,"""Kellerei St. Pauls, Eppan""",NaN,NaN,"""48,00 €"""
3,Blanc de Blancs Brut Nature 2018 | CH,"""Montris, Kaltern""",2018,NaN,"""60,00 €"""
4,"""Brut Riserva 36 2019 | CH, PB, PN""",Kellerei Meran,2019,NaN,"""47,00 €"""

In [21]:
# print to file
df.to_csv('v0-preprocess-step1.csv', index=False)