In [16]:
import sys
sys.path.append('../../')
import os

import pandas as pd
from utils import fill_empty, VColumns
from dotenv import load_dotenv
load_dotenv()

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Load input file

In [17]:
df1 = pd.read_csv("v1-start.csv")
df1.head()

,name,winery,vintage,size,qty,purchase_price,internal_notes,internal_notes_2
0,ROSSO RISERVA,BORGO DEL TIGLIO,1999.0,BOTTLE,6.0,NaN,NaN,NaN
1,ROSSO DELLA CENTA,BORGO DEL TIGLIO,2001.0,BOTTLE,1.0,NaN,NaN,NaN
2,SAUVIGNON,BORGO DEL TIGLIO,2009.0,BOTTLE,2.0,NaN,NaN,NaN
3,VERDUZZO,BORGO DEL TIGLIO,1998.0,BOTTLE,5.0,NaN,NaN,NaN
4,MALVASIA,BORGO DEL TIGLIO,2022.0,BOTTLE,4.0,NaN,NaN,NaN

# Start elaborating columns

Create a new dataframe with empty values, so that we can start filling in values from the input dataframe, without overriding columns.

In [18]:
df1.head()

,name,winery,vintage,size,qty,purchase_price,internal_notes,internal_notes_2
0,ROSSO RISERVA,BORGO DEL TIGLIO,1999.0,BOTTLE,6.0,NaN,NaN,NaN
1,ROSSO DELLA CENTA,BORGO DEL TIGLIO,2001.0,BOTTLE,1.0,NaN,NaN,NaN
2,SAUVIGNON,BORGO DEL TIGLIO,2009.0,BOTTLE,2.0,NaN,NaN,NaN
3,VERDUZZO,BORGO DEL TIGLIO,1998.0,BOTTLE,5.0,NaN,NaN,NaN
4,MALVASIA,BORGO DEL TIGLIO,2022.0,BOTTLE,4.0,NaN,NaN,NaN

In [19]:
# create new empty dataframe
df = pd.DataFrame(columns=VColumns.v2())
df.head()

Empty DataFrame
Columns: [external_id, type, name, winery_name, info, size, vintage, price, purchase_price, quantity, storage_area, internal_notes, visible]
Index: []

In [21]:
# copy values from original columns to new columns
df['name'] = df1['name']

# remove content within brackets
df['winery_name'] = df1['winery'].fillna("").apply(lambda x: x.split("(")[0].strip())

df["vintage"] = df1["vintage"]
df["quantity"] = df1["qty"]
df["size"] = df1["size"]
df["storage_area"] = "Cantinetta"

# append another columns value
df["internal_notes"] = df1['internal_notes'].fillna("") + " " + df1['internal_notes_2'].fillna("")
df["visible"] = True

df.tail()

,external_id,type,name,winery_name,info,size,vintage,price,purchase_price,quantity,storage_area,internal_notes,visible
215,NaN,NaN,Haderburg Hausmanof Riserva,,NaN,NaN,NaN,NaN,NaN,NaN,Cantinetta,,True
216,NaN,NaN,Rocche dei Manzoni Valentino Brut Elena,,NaN,NaN,NaN,NaN,NaN,NaN,Cantinetta,,True
217,NaN,NaN,Rocche dei Manzoni Valentino Brut 0,,NaN,NaN,NaN,NaN,NaN,NaN,Cantinetta,,True
218,NaN,NaN,Rocche dei Manzoni Valentino Brut 0 Rosè,,NaN,NaN,NaN,NaN,NaN,NaN,Cantinetta,,True
219,NaN,NaN,Francesco Bellei Metodo Classico,,NaN,NaN,NaN,NaN,NaN,NaN,Cantinetta,,True

In [22]:
# size
df['size'] = df1["size"].fillna("BOTTLE")

# convert prices to cents
df['price'] = 0
df['purchase_price'] = df1['purchase_price'].apply(lambda x: int(x*100) if not pd.isnull(x) else 0) # convert to cents

df.tail()

,external_id,type,name,winery_name,info,size,vintage,price,purchase_price,quantity,storage_area,internal_notes,visible
215,NaN,NaN,Haderburg Hausmanof Riserva,,NaN,BOTTLE,NaN,0,0,NaN,Cantinetta,,True
216,NaN,NaN,Rocche dei Manzoni Valentino Brut Elena,,NaN,BOTTLE,NaN,0,0,NaN,Cantinetta,,True
217,NaN,NaN,Rocche dei Manzoni Valentino Brut 0,,NaN,BOTTLE,NaN,0,0,NaN,Cantinetta,,True
218,NaN,NaN,Rocche dei Manzoni Valentino Brut 0 Rosè,,NaN,BOTTLE,NaN,0,0,NaN,Cantinetta,,True
219,NaN,NaN,Francesco Bellei Metodo Classico,,NaN,BOTTLE,NaN,0,0,NaN,Cantinetta,,True

In [23]:
df = fill_empty(df, VColumns.v2(), False)
df.tail()

,external_id,type,name,winery_name,info,size,vintage,price,purchase_price,quantity,storage_area,internal_notes,visible
215,,,Haderburg Hausmanof Riserva,,,BOTTLE,0,0,0,0,Cantinetta,,True
216,,,Rocche dei Manzoni Valentino Brut Elena,,,BOTTLE,0,0,0,0,Cantinetta,,True
217,,,Rocche dei Manzoni Valentino Brut 0,,,BOTTLE,0,0,0,0,Cantinetta,,True
218,,,Rocche dei Manzoni Valentino Brut 0 Rosè,,,BOTTLE,0,0,0,0,Cantinetta,,True
219,,,Francesco Bellei Metodo Classico,,,BOTTLE,0,0,0,0,Cantinetta,,True

# Merge files and write output

If there are multiple files, merge them into one and create single output file.

In [24]:
df.head()

df_out = pd.concat([df], ignore_index=True)
df_out.to_csv("v2-cleaned.csv", index=False)

bool()

False