In [1]:
import sys
sys.path.append('../../')
import os

import pandas as pd
from utils import fill_empty, VColumns
from dotenv import load_dotenv
load_dotenv()

%load_ext autoreload
%autoreload 2

# Load input file

In [3]:
df1 = pd.read_csv("v1-start.csv")
df1.head()

,category,external_code,input_data,country,region,type,sub_cat,qty,stock_date,eur_purchase_price,...,Price for the bottle asporto,Suggested price for the bottle asporto,Price for the glass 60 ml ml asporto,Suggested price for the glass 60 ml ml asporto,Price for the glass 80 ml ml asporto,Suggested price for the glass 80 ml ml asporto,Price for the glass 120 ml ml asporto,Suggested price for the glass 120 ml ml asporto,Price for the glass 150 ml ml asporto,Suggested price for the glass 150 ml ml asporto
0,Wine,v.54031.2019.b,"Agostina Pieri, Brunello di Montalcino, 2019, ...",Italy,Tuscany,Red wine,Still,2,9/26/2024,24.0,...,NaN,47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Wine,v.13876.2023.b,"Andrian, Pinot bianco Finado, 2023, 750 ml",Italy,Alto Adige,White wine,Still,5,6/7/2024,7.6,...,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Wine,v.35327.2023.b,"Andrian, Pinot noir, 2023, 750 ml",Italy,Alto Adige,Red wine,Still,2,8/5/2024,11.0,...,NaN,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Wine,v.480.2020.b,"Bindella, Vino Nobile di Montepulciano, 2020, ...",Italy,Tuscany,Red wine,Still,11,11/13/2024,13.5,...,NaN,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Wine,v.97515.2022.b,"Canneto, Calamus, 2022, 750 ml",Italy,Tuscany,White wine,Still,2,8/12/2024,7.9,...,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Start elaborating columns

Create a new dataframe with empty values, so that we can start filling in values from the input dataframe, without overriding columns.

In [10]:
df1.head()

,category,external_code,input_data,country,region,type,sub_cat,qty,stock_date,eur_purchase_price,...,Price for the bottle asporto,Suggested price for the bottle asporto,Price for the glass 60 ml ml asporto,Suggested price for the glass 60 ml ml asporto,Price for the glass 80 ml ml asporto,Suggested price for the glass 80 ml ml asporto,Price for the glass 120 ml ml asporto,Suggested price for the glass 120 ml ml asporto,Price for the glass 150 ml ml asporto,Suggested price for the glass 150 ml ml asporto
0,Wine,v.54031.2019.b,"Agostina Pieri, Brunello di Montalcino, 2019, ...",Italy,Tuscany,Red wine,Still,2,9/26/2024,24.0,...,NaN,47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Wine,v.13876.2023.b,"Andrian, Pinot bianco Finado, 2023, 750 ml",Italy,Alto Adige,White wine,Still,5,6/7/2024,7.6,...,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Wine,v.35327.2023.b,"Andrian, Pinot noir, 2023, 750 ml",Italy,Alto Adige,Red wine,Still,2,8/5/2024,11.0,...,NaN,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Wine,v.480.2020.b,"Bindella, Vino Nobile di Montepulciano, 2020, ...",Italy,Tuscany,Red wine,Still,11,11/13/2024,13.5,...,NaN,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Wine,v.97515.2022.b,"Canneto, Calamus, 2022, 750 ml",Italy,Tuscany,White wine,Still,2,8/12/2024,7.9,...,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# create new empty dataframe
df = pd.DataFrame(columns=VColumns.v2())
df.head()

Empty DataFrame
Columns: [external_id, type, name, winery_name, info, size, vintage, price, purchase_price, quantity, storage_area, internal_notes, visible]
Index: []

In [11]:
# copy values from original columns to new columns
df['external_id'] = df1['external_code']

# take inpunt_data and split into: winery_name, name, vintage, size
df['name'] = df1['input_data'].apply(lambda x: x.split(",")[1])
df['winery_name'] = df1['input_data'].apply(lambda x: x.split(",")[0])

# if split produces only 3 elements, add an empty string for the size
df["vintage"] = df1["input_data"].apply(lambda x: x.split(",")[2] if len(x.split(",")) > 3 else "")
df["size"] = df1["input_data"].apply(lambda x: x.split(",")[3] if len(x.split(",")) > 3 else x.split(",")[2])
df["quantity"] = df1["qty"]


df["visible"] = True

df.head()

SyntaxError: invalid syntax (669220404.py, line 10)

In [11]:
# size
df['size'] = df1["size"].fillna("BOTTLE")

# convert prices to cents
df['price'] = df1['eur_sales_price'].apply(lambda x: int(x*100) if not pd.isnull(x) else 0) # convert to cents

df.head()

,external_id,type,name,winery_name,info,size,vintage,price,purchase_price,quantity,storage_area,internal_notes,visible
0,1,NaN,Arunda Riserva Extra Brut,Sektkellerei Arunda,NaN,BOTTLE,NaN,5000,NaN,7.0,NaN,NaN,True
1,2,NaN,Arunda Phineas IV,Sektkellerei Arunda,NaN,BOTTLE,NaN,8500,NaN,4.0,NaN,NaN,True
2,3,NaN,Praeclarus Brut,Kellerei St. Pauls,NaN,BOTTLE,NaN,4800,NaN,4.0,NaN,NaN,True
3,4,NaN,Blanc de Blancs Brut Nature 2018,Montris,NaN,BOTTLE,2018.0,6000,NaN,6.0,NaN,NaN,True
4,5,NaN,Brut Riserva 36 2019,Kellerei Meran,NaN,BOTTLE,2019.0,4700,NaN,6.0,NaN,NaN,True

In [12]:
df = fill_empty(df, VColumns.v2(), False)
df.head()

,external_id,type,name,winery_name,info,size,vintage,price,purchase_price,quantity,storage_area,internal_notes,visible
0,1,,Arunda Riserva Extra Brut,Sektkellerei Arunda,,BOTTLE,0,5000,0,7,,,True
1,2,,Arunda Phineas IV,Sektkellerei Arunda,,BOTTLE,0,8500,0,4,,,True
2,3,,Praeclarus Brut,Kellerei St. Pauls,,BOTTLE,0,4800,0,4,,,True
3,4,,Blanc de Blancs Brut Nature 2018,Montris,,BOTTLE,2018,6000,0,6,,,True
4,5,,Brut Riserva 36 2019,Kellerei Meran,,BOTTLE,2019,4700,0,6,,,True

# Merge files and write output

If there are multiple files, merge them into one and create single output file.

In [13]:
df.head()

df_out = pd.concat([df], ignore_index=True)
df_out.to_csv("v2-cleaned.csv", index=False)

bool()

False